<div class="container">
  <h1>Welcome to Anagrams!</h1>
  <% if @anagram_results %>
    <p>Anagram results: "<span id="anagram_results"><%= @anagram_results %></span>"</p>
    <p>Pretty cool, huh?</p>
  <% end %>
  <form action="/anagrams" method="post">
    Enter word: <input type="text" name="user_input">
    <input type="submit" value="Submit">
  </form>
  <br>
</div>
